*{
    margin: 0;
    padding: 0;
}@media (max-width:2880px)

{
.rectangle1{
    width: 1482px;
    height: 653px;
    background-image:url(background\ 1.png) ;
    background-position: center;
    background-size: cover;
    padding: 45px 1px;
    
}.rectangle2{
   
   
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
    background: transparent;
    position: relative;
   
}.img1{
    width: 1372px;
    height:650px;
    margin-left:55px;
}.logo{
    position: absolute;
    right: 1200px;
    top: 47px;
    left: 165px;
}.navbar{
    position: absolute;
    display: inline-block;
    right: 141px;
    top: 65px;
    
}.navbar a{
    color:  white;
    text-decoration: none;
    padding-left: 60px;
    font-size: 20px;
    font-family: 'chalkboard';
}.btn {
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 30px;
    font-weight: 500;
    padding: 8px 20px;
    cursor: pointer;
}.content{
    position: relative;
    top: 30px;
    right: 558px;
   


     
}.Save{
    display: block;
    color: white;
    font-weight: 100;
    font-size: 14px;
    
}h1{
    color: white;
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 7px;
}p{
    color: white;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    margin-top: 17px;
} .started-btn{
    top: 50px;
}h5{
    position: absolute;
    border: 1px solid rgb(131, 122, 213);
    border-radius: 35px;
    border-color: white;
    margin-top: 30px;
    font-weight: 1500;
    font-size: 20px;
    padding: 7px 18px;
    background-color:  #9EA3FF;
    width: 100px;
    height: 25px;

}.download-btn{
    position: relative;
   margin-left: 100px;
   top: 35px;
   
  
}h4{position: sticky;
    margin-left: 5px;
    display: inline-block;
    font-size: 22px;
    margin-top: 5px;

}footer{
    margin-top: 86px;
    color:white;
    font-weight: 500;
    font-size: 20.5px;

}h2{
    position: relative;
    display: inline;
    font-size: 17.5px;
    font-weight: 500;
   text-decoration: underline;
   color: rgb(131, 122, 213);
   right: 50px;
    
}.img2{
    position: absolute;
    width: 1258.85px;
    height: 504.97px;
    top: 138px;
    left: 172px;
    background-repeat:no-repeat ;
}.img3{
    position: absolute;
    width: 403.53px;
    height: 409.31px;
    top: 129.63px;
    left: 955px;
}.img4{
    display: none;
}.img5{
    display: none;
}#menu-icon{
    display: none;
}.img6{
    display: none;
}.img7{
    display: none;
}
}
@media (max-width:1024px) {
    .rectangle1{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 1308px;
        width: 1050px;
        
    }.rectangle2{
        position: absolute;
        display: flex;
        flex-direction: column;
        
    }.img1{
        display: flex;
        flex-direction: column;
        width: 930px;
        height: 1280px;
        top: 100px;
        left: 10px;
        margin-left: 50px;
    }.img2{
       display: none;
       
    }.img4{
        display: block;
        position: absolute;
        width: 686.12px;
        height: 1073.57px;
        top: 189px;
        left: 302px;


    }.logo{
        display: flex;
        flex-direction: column;
        width: 183px;
        height: 39px;
        top: 70px;
        left: 150px;
        gap: 8px;
    }.navbar{
        display: flex;
        flex-direction: row;
        width: 780px;
        height: 200px;
        top: 80px;
        left: 390px;
        gap: -5px;
    }.btn{
        display: block;
        position:absolute;
        height: 42px;
        width: 114px;
        top: -7px;
        left: 407px;
        padding: 7px 30px;
        align-content: center;
        font-weight: 500;
        font-size: 13px;
    }.content{
        display: inline;
        width: 304.46px;
        height: 529px;
        top: 328px;
        right: 711px;
        top: 135px;
    }.Save{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 221px;
        height: 22px;
    }h1{
        display: flex;
        flex-direction: row;
        width: 360px;
        height: 211px;
        top: 33px;
        font-size: 51px;
        font-weight: 700;
        size: 120px;
        line-height: 63.81px;
        letter-spacing: 5px;
    }p{
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 51px;
        top: 241px;
        font-size: 12px;
        font-weight: 300;
        line-height: 17.13px;
    }.started-btn h5{
        width: 105px;
        height: 26px;
        top: 330px;
        left: 16px;
        font-weight: 700;
        line-height: 25.52px;
        letter-spacing: 10%;
    }.download-btn{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 196px;
        height: 28px;
        top: 100px;
        right: 150px;
   }footer{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 150px;
   }footer a {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 22px; 
    left: 26px;
}.img3{
    display: none;
   
}.img5{
    display: block;
    position: absolute;
    width: 452.53px;
    height: 563.31px;
    top: 530px;
    left: 519px;
   
    
}#menu-icon{
    display: none;
}.img6{
    display: none;
}.img7{
    display: none;
}
  }  @media (max-width:428px){
  .rectangle1{
    display:block;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 2064px;
    width: 1016px;


} .rectangle2{
    position: absolute;
        display: flex;
        flex-direction: column;
}.img1{
    display: flex;
    flex-direction: column;
    width: 898px;
    height: 2054px;
}.img5{
    display: none;
}.img4{
    display: none;
}#menu-icon{
    display: block;
    position: absolute;

}.navbar{
   display: block;
   position: absolute;
   margin-left: 300px;

}.navbar a{
    margin-left: 0;
    display: block;
    margin: 7px 90px;
    position: relative;
    top: 70px;

    
}#menu-icon{
    margin-left: -3px;
    top: -68px;
    height: 91px;
    width: 65px;
}.btn{
    position: absolute;
    top: 10px;
    left: 35px;
    
}.content{
    display: block;
    width: 574px;
    height: 103px;
    top: 764px;
    left: -304px;


}.img6{
    display: block;
    position: absolute;
    width: 529.75px;
    height: 580.89px;
    top: 300px;
    left: 275px;

}.logo{
   display: block;
   top: 98px;
   left: 174px;
   height: 93px;
   width: 419px;

  }.Save{
    width:  661px;
    height: 17px;
    top: 205px;
    left: -3px;
    gap: 2px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
   

  }h1{
    position: relative;
    display: block;
    width: 406px;
    height: 164px;
    top: 228px;
    left: -60.5px;
    font-family: Chalkboard;
    font-size: 75px;
    font-weight: 700;
    line-height: 69.67px;
    letter-spacing: 0.05em;
    text-align: center;
  }p{
    display: block;
    position: relative;
    width: 768px;
    height: 33px;
    left: -239px;
    top: 293px;
    gap: 0px;
    opacity: 0px;
    font-family: Chalkboard SE;
    font-size: 17px;
    font-weight: 300;
    line-height: 27.42px;
    text-align: center;
    
  }.started-btn h5{
    display: block;
    position: relative;
    width: 165px;
    height: 55px;
    top: 308px;
    left: -116.5px;
    gap: 0px;
    opacity: 0px;
    font-family: Chalkboard;
    font-size: 25px;
    font-weight: 700;
    line-height: 48.14px;
    letter-spacing: 0.1em;
    text-align: center;
    
    
  }.download-btn h4{
    display: block;
    position: relative;
    width:306px;
    height: 86px;
    top: 367px;
    left: 9.5px;
    gap: 6px;
    opacity: 0px;
    font-family: Chalkboard;
    font-size: 32px;
    font-weight: 700;
    line-height: -10.14px;
    letter-spacing: 0.1em;
    text-align: left;
    
  }footer {
    display: block;
    position: relative;
    width: 427px;
    height: 10px;
    top: 387px;
    left: -77.5px;
    gap: 0px;
    opacity: 0px;
    font-family: Chalkboard;
    font-size: 22px;
    font-weight: 400;
    line-height: 10.21px;
    letter-spacing: 0.1em;
    text-align: center;


  }span a h2{
    display: block;
    position: relative;
    font-family: Chalkboard;
    top: -85px;
    left: 218px;
    font-size: 26px;
    font-weight: 400;
    line-height: 10.21px;
    letter-spacing: 0.1em;
    text-align: left;
    

  }.img7{
    display: block;
    position: absolute;
    width: 814px;
    height: 1756.76px;
    top: 271px;
    left: 143px;
    gap: 0px;
    opacity: 0px;
    
  }ul{
    display: none;
  }#img2{
   
    position: relative;
    height: 33px;
    width: 34px;
    left: -3px;
    top: 5px;
  }
  }
  

  
  

    

  

    
